<div class="app-card-container">
  <div class="card">
    <h1>About Me</h1>
    <hr>

    <div class="row">
      <div class="col-md-3">
        <%= image_tag "profile.jpg", height: 309, alt: "profile-image", class: 'profile-img'%>

        <div class="skills">
          <% @skills.each do |skill| %>
            <div class="skill">
              <h4><%= skill.title %></h4>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-striped bg-warning"
                  role="progressbar"
                  aria-valuenow = "<%= skill.percent_utilized %>"
                  aria-valuemax = "100"
                  style = "width: <%= skill.percent_utilized %>%"
                ></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-md-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Consequat ac felis donec et odio pellentesque diam. Vitae justo eget magna fermentum iaculis eu non. Elementum nibh tellus molestie nunc non blandit. Semper eget duis at tellus at. Elementum curabitur vitae nunc sed velit. Interdum varius sit amet mattis vulputate enim nulla aliquet porttitor.</p>

        <p>Mi in nulla posuere sollicitudin. Nisl condimentum id venenatis a condimentum vitae sapien. Tempor orci dapibus ultrices in iaculis nunc sed. Enim blandit volutpat maecenas volutpat blandit. Sit amet est placerat in egestas erat imperdiet. Tempus iaculis urna id volutpat lacus laoreet non curabitur. Ornare arcu odio ut sem nulla pharetra. Aliquam ut porttitor leo a diam sollicitudin tempor.</p>

        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobHistory"
          >
            Job History
          </button>
        </p>
        <div class="collapse" id="jobHistory">
          <div class="card card-body">
            Jobssssss
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
